<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560409637208-gurmcsmtvcb93f3gtc590qua00nf0icu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560409637208-gurmcsmtvcb93f3gtc590qua00nf0icu</string>
	<key>API_KEY</key>
	<string>AIzaSyCxsMPqaj3eQzjcMl6O774Tfu4dL2I-mEg</string>
	<key>GCM_SENDER_ID</key>
	<string>560409637208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>canbalaman.GamePromotion</string>
	<key>PROJECT_ID</key>
	<string>playx-244c0</string>
	<key>STORAGE_BUCKET</key>
	<string>playx-244c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560409637208:ios:2db49ec73bee1e44abb52d</string>
</dict>
</plist>